.p{
  padding-right: 2rem;
}

/*smaller text stuff */
article{
  font-family: 'Inclusive Sans', sans-serif;
  padding: 2rem;

  font-size: 25px;
  display: flex;
  align-items: center;
  margin: auto;
  
  min-width: 60vmin;
  max-width: 20vmax;
  line-height: 2rem;
  color: white;

}

/* button stuff*/
.cta a, .cta a:visited {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 0.5rem 1rem;
  width: fit-content;
  
  text-decoration: none;
  
  background-color: hsl(50, 100%, 60%);
  color: hsl(50, 50%, 20%);
  border-radius: .5rem;
  display: flex;
}

/* Hover state */
.cta a:hover {
  background-color: hsl(50, 100%, 40%);
  color: hsl(50, 50%, 95%);
}

/* Click state */
.cta a:active {
  background-color: hsl(0, 100%, 40%);
  color: hsl(0, 50%, 95%);
}