header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

header > * { 
   flex: auto; 
}
input {
  display: none;
}

nav ul {
  display: none;
}

@media screen and (width > 40rem) {
  label {
    display: none;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}

body{
  background-image: url("../plant-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}


